---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      github-actions-all:
        patterns:
          - "*"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 30
